@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format(opentype);
}
body {
    background-color: #6af8af;
}
header {
    height: auto;
    width: auto;
    margin: -10px;
    background-image: linear-gradient(to bottom, #05ff7e, #0f6831 );
    box-shadow: 0px 4px 5px 0px #12502a;
}
#principal {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 7px;
    margin: 10px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: auto;
    margin: 10px;
}
.menu > a {
    text-decoration: none;
    color: white;
    margin: 9px;
}
main {
    height: auto;
    width: auto;
    margin: -18px 10% auto 10%;
    background-color: white;
    box-shadow: 100px, 10px, 10px, 10px black;
}
.titulo2 {
    margin: 20px 10px;
    font-family: idroid, Helvetica, sans-serif;
    color: #0f6831;
}
.p2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    color: black;
}